# Ignore IDE-specific files and directories
.idea/
.vscode/

# Ignore Python bytecode cache
__pycache__/

# Ignore test & type-check caches and coverage artifacts
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Ignore macOS system files
.DS_Store

# Ignore Vim swap files
*.swp

# Ignore venv
.venv
